:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: hsla(0, 0%, 100%, 0.87);
  background-color: hsl(0, 0%, 14%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

#app {
  width: 80rem;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

footer {
  font-size: 0.8rem;
  padding-top: 1.25rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

body {
  display: flex;
  margin: 0;
}

main {
  padding: 2rem;
  flex: 1;
}

h1.lib-title {
  font-family: Open Sans;
  font-size: 5rem;
  line-height: 1.1;
  margin: 0;
  background-image: linear-gradient(45deg, hsl(57, 83%, 68%), hsl(343, 56%, 57%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

h1 {
  font-size: 2.2rem;
}

summary {
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

summary > h3 {
  margin: 0;
}

summary::before {
  content: "\25B6";
  margin-right: 0.63rem;
  transition: transform 0.3s ease;
}

details[open] summary::before {
  transform: rotate(90deg);
}

code {
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

pre {
  display: grid;
}

a {
  font-weight: 500;
  color: hsl(14, 59%, 65%);
  text-decoration: inherit;
}

a:hover {
  color: hsl(36, 69%, 66%);
}

@media screen and (max-width: 690px) {
  #app {
    width: -webkit-fill-available;
  }
}